{% load static %}
{% load i18n %}

<!--Footer-->
<footer class="page-footer elegant-color center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">{% trans 'code school nepal' %}</h5>
                <p>
                    Code School nepal host the tutorials on web technologies, networking, and system administration  with video lessons,
                     We strive to help you learn by doing.
                </p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-3">
                <h5 class="title ">{% trans 'code school nepal' %}</h5>
                <ul>
                    <li><a href="/about/" class="text-capitalize">{% trans 'about' %}</a></li>
                    <li><a href="/contact" class="text-capitalize">{% trans 'contact' %}</a></li>
                    <li><a href="/terms" class="text-capitalize">{% trans 'terms and condition' %}</a></li>

                </ul>
            </div>
            <!--/.Second column-->

             <!--Second column-->
            <div class="col-md-3">
                <h5 class="title ">{% trans 'keep in touch' %}</h5>
                <ul>
                    <li>Contact: manojit.gautam@gmail.com</li>
                    <li><a href="/donate" class="text-capitalize">{% trans 'support this website' %}</a></li>
                    <li><a href="/terms" class="text-capitalize"> <i class="fa fa-facebook"></i> &nbsp;{% trans 'facebook' %}</a></li>
                     <li><a href="/terms" class="text-capitalize"><i class="fa fa-twitter"></i> &nbsp;{% trans 'twitter' %}</a></li>

                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            ©  Copyright: <a href="/"> codeschoolnepal.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
