#!/usr/bin/env bash
# Email settings
# Replace these variables
export CODESCHOOLNEPAL_EMAIL_HOST='smtp.gmail.com'
export CODESCHOOLNEPAL_EMAIL_USER='example@codeschoolnepal.com'
export CODESCHOOLNEPAL_EMAIL_PASSWORD='4353o#$53'
export CODESCHOOLNEPAL_EMAIL_PORT='578'
export CODESCHOOLNEPAL_EMAIL_TLS='True'

# Database settigs
export CODESCHOOLNEPAL_DB_NAME='you_db_name'
export CODESCHOOLNEPAL_DB_HOST='db_server_ip'
export CODESCHOOLNEPAL_DB_PORT='db_server_port'
export CODESCHOOLNEPAL_DB_USERNAME='db_user_name'
export CODESCHOOLNEPAL_DB_PASSWORD='db_user_password'
